@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242742;
  font-family: "Roboto", sans-serif;
}

body, html, main {
  min-height: 100% !important;
  height: 100%;
}

#mobile-img {
  display: block;
}

#desktop-img {
  display: none;
}

.newsletter {
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.newsletter-image {
  width: 100%;
}
.newsletter-text {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 325px);
  gap: 1.25em;
  padding: 1.875em 1.875em 1.875em;
  justify-content: space-between;
}
.newsletter-header {
  font-size: 2.5em;
  line-height: 1;
  margin-top: 0.4em;
}
.newsletter-subheader {
  width: 80%;
}
.newsletter-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  margin-bottom: 1.25em;
}
.newsletter-list-item {
  width: 85%;
  display: flex;
}
.newsletter-list-item::before {
  vertical-align: top;
  width: 1.3125em !important;
  height: 1.3125em !important;
  height: 100%;
  margin-right: 0.5em;
  content: url(./assets/images/icon-list.svg);
}
.newsletter-labels {
  display: flex;
  justify-content: space-between;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.newsletter-form-label {
  font-size: 0.8125em;
  font-weight: 700;
}
.newsletter-form-error {
  color: rgb(255, 97, 85);
  font-weight: 700;
  font-size: 0.8125em;
}
.newsletter-form-input {
  outline: none;
  border: 1px solid rgba(25, 24, 43, 0.25);
  border-radius: 0.5em;
  padding: 0.95em;
  font-size: 1em;
  color: #242742;
  margin-bottom: 0.625em;
}
.newsletter-form-input:focus {
  border: 1px solid #242742;
}
.newsletter-form-input:invalid {
  border: 1px solid rgb(255, 97, 85);
}
.newsletter-form-button {
  font-size: 1em;
  padding: 0.95em;
  border-radius: 0.5em;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
  background-color: #242742;
  margin-top: auto;
}
.newsletter-form-button:active {
  background: rgb(255, 106, 58);
  background: linear-gradient(22deg, rgb(255, 106, 58) 0%, rgb(255, 82, 123) 100%);
}

.confirmation {
  background: white;
  z-index: 99;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}
.confirmation-text {
  margin-top: 9em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.confirmation-icon {
  width: 4em;
  margin-bottom: 0.8em;
}
.confirmation-header {
  font-size: 40px;
  line-height: 1;
}
.confirmation-message {
  width: 85%;
}
.confirmation-message-email {
  font-weight: 700;
}
.confirmation-button {
  font-size: 1em;
  padding: 0.95em;
  border-radius: 0.5em;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
  background-color: #242742;
}
.confirmation-button:active {
  background: rgb(255, 106, 58);
  background: linear-gradient(22deg, rgb(255, 106, 58) 0%, rgb(255, 82, 123) 100%);
}

@media only screen and (min-width: 600px) {
  .newsletter {
    margin: 0 auto;
  }
  .newsletter-image {
    max-width: 55%;
    height: 40%;
    margin: 0 auto;
    border-radius: 16px;
  }
  .newsletter-text {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  #mobile-img {
    display: none;
  }
  #desktop-img {
    display: block;
  }
  body {
    background-color: #242742;
    display: flex;
  }
  .newsletter {
    background-color: white;
    flex-direction: row-reverse;
    height: unset;
    min-height: unset !important;
    margin: auto auto;
    justify-content: center;
    border-radius: 2.25em;
    padding: 10px;
  }
  .newsletter-image {
    width: 35%;
    padding: 10px 0 10px;
    margin: auto auto;
  }
  .newsletter-text {
    justify-content: center;
  }
  .newsletter-form-input:hover, .newsletter-form-input:focus {
    cursor: pointer;
    border: 1px solid #242742;
  }
  .newsletter-form-button:hover {
    background: rgb(255, 106, 58);
    background: linear-gradient(22deg, rgb(255, 106, 58) 0%, rgb(255, 82, 123) 100%);
  }
  .newsletter-form-button:hover, .newsletter-form-button:focus {
    cursor: pointer;
  }
  ._active {
    width: 35%;
  }
  .confirmation {
    width: 100%;
    height: auto;
    justify-content: center;
    position: unset;
    border-radius: 2.25em;
    padding: 2.5em;
    gap: 1.25em;
  }
  .confirmation-text {
    margin: 0;
  }
  .confirmation-button:hover {
    background: rgb(255, 106, 58);
    background: linear-gradient(22deg, rgb(255, 106, 58) 0%, rgb(255, 82, 123) 100%);
  }
  .confirmation-button:hover, .confirmation-button:focus {
    cursor: pointer;
  }
}
@media only screen and (min-width: 1800px) {
  .newsletter-image {
    width: 45%;
  }
}/*# sourceMappingURL=app.css.map */